.product-card {
       transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.product-card:hover {
       transform: translateY(-20px);
       box-shadow: 0 10px 20px rgba(48, 42, 42, 0.2);
}

.product-card img {
       width: 100%;
       height: 200px;
       object-fit: contain;

}

.heart2 {
       fill: red;
       stroke: white;
       width: 25px;
       height: 25px;
       cursor: pointer;
       transition: fill 0.3s ease;
       stroke-width: 1px;
       margin-left: auto;
       /* push to right if in flex */
}


.heart {
       width: 25px;
       height: 25px;
       cursor: pointer;
       transition: fill 0.3s ease;
       fill: none;
       stroke: rgb(173, 171, 171);
       stroke-width: 1px;
       margin-left: auto;
       /* push to right if in flex */


}

.heart:hover {
       fill: red;
       stroke: white;
}

.heart.filled {
       fill: red;
       stroke: white;
}

.fav-popup {
       position: fixed;
       /* bottom: 20px; */
       top: 50%;
       left: 50%;
       transform: translateX(-50%);
       background: rgb(199, 196, 196);
       color: rgb(255, 255, 255);
       padding: 10px 20px;
       border-radius: 10px;
       /* font-weight: bold; */
       z-index: 999;
       box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
       .product-card {
              max-width: 90%;
              /* shrink card width */
              flex: 1 1 100%;
              padding: 12px;
              margin: auto;
       }

       .product-card img {
              width: 100%;
              height: 150px;
       }

       .product-card h2 {
              font-size: 1rem;
       }

       .product-card p {
              font-size: 0.8rem;
       }

       .heart {
              width: 20px;
              height: 20px;
       }
}